@model ZebraProject.Models.Zebra.ZplModel

<div>


   成功


</div>
<script>
    //function onWorkOrderNoteBegin() { $.blockUI(); }

    //function onWorkOrderNoteSuccess(data) {
    //    $.pushHTML(data, function () {
    //        //$("#wrapper-content").html(data);
    //    });
    //    $.unblockUI();
    //}
    //$(document).ready(function () {
    //})
</script>